<% if notice %>
<p id="home_notice"><%= notice %></p>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <div class="pub_date">Published at: <%= post.published_at %></div>
    <div class="post_body"><%= sanitize(render_markdown(post.body)) %></div>
  </div>
<% end %>
